In [1]:
import pandas as pd
import numpy as np

# Comparison of Seismic Analysis Packages: eseis (R) vs pyseis (Python)

This report provides a comprehensive comparison between 11 functions from two seismic analysis packages: eseis for R and pyseis for Python.
Throught the comparison, same input data has been used to test all the modules but there are slight changes due to randomness of the process.


## Functions for spatial data handling

For station A,B and C we tested these following modules:
- `spatial_convert`
- `spatial_distance`
- `spatial_amplitude`
- `spatial_pmax`
- `spatial_migrate`
- `spatial_clip`

### eseis (R)


#### The original stations (WGS84 geographic coordinates)

In [2]:
pd.read_csv('../R/output/R_original_stations.csv', header=None)

     0   1   2
0  NaN   x   y
1  1.0  25  25
2  2.0  75  75
3  3.0  50  90

#### The converted stations (UTM zone 32N) from `spatial_convert`

In [3]:
pd.read_csv('../R/output/R_converted_stations.csv', header=None)

     0                 1                 2
0  NaN                 x                 y
1  1.0  2128199.05236227  2862732.77717741
2  2.0  2041350.23413185  9303691.50251585
3  3.0             5e+05    9997964.943021

### pyseis (Python)


#### The original stations (WGS84 geographic coordinates)

In [4]:
pd.read_csv('../test/output/Py_original_stations.csv', header=None)

    0   1
0  25  25
1  75  75
2  50  90

#### The converted stations (UTM zone 32N) from `spatial_convert`

In [5]:
pd.read_csv('../test/output/Py_converted_stations.csv', header=None)

              0             1
0  2.128199e+06  2.862733e+06
1  2.041350e+06  9.303692e+06
2  5.000000e+05  9.997965e+06

### eseis (R)

#### The Digital Elevation Model with the stations from `spatial_distance`

![image_from_sp_dist](../R/output/R_spatial_dist_0.png)


### pyseis (Python)

#### The Digital Elevation Model with the stations from `spatial_distance`

![image_from_sp_dist](../test/output/Py_spatial_dist_0.png)

### eseis (R)


#### This Is the distance matrix of the stations

In [6]:
pd.read_csv('../R/output/R_spatial_dist_matrix.csv')

   Unnamed: 0           1           2           3
0           1    0.000000  222.117997  166.651687
1           2  222.117997    0.000000   91.692105
2           3  166.651687   91.692105    0.000000

### pyseis (Python)


#### This Is the distance matrix of the stations

In [7]:
pd.read_csv('../test/output/distance_matrix.csv')

            A           B           C
0    0.000000  186.380573  253.824408
1  186.380573    0.000000  126.212158
2  253.824408  126.212158    0.000000


#### The plot for distance matrix

![image_from_sp_dist](../test/output/Py_spatial_dist_mat.png)

### eseis (R)

#### The Most likely location for the signal amplitude from `spatial_amplitude` and `spatial_pmax`

In [8]:
pd.read_csv('../R/output/R_spatial_pmax.csv', header=None).iloc[:, -1]

0       x
1    25.5
2    24.5
Name: 1, dtype: object

#### The plot for the most likely signal

![image_from_sp_dist](../R/output/R_spatial_ampl.png)

### pyseis (Python)


#### The Most likely location for the signal amplitude from `spatial_amplitude` and `spatial_pmax`

In [9]:
pd.read_csv('../test/output/Py_pmax.csv', header=None)

     0     1
0  0.5  29.5


#### The plot for the most likely signal

![image_from_sp_dist](../test/output/Py_spatial_amp.png)

### eseis (R)

#### The clipped result from `spatial_clip` and `spatial_migrate`

![image_from_sp_dist](../R/output/R_spatial_clip.png)

### pyseis (Python)


#### The clipped result from `spatial_clip` after `spatial_migrate`

![image_from_sp_dist](../test/output/Py_spatial_clipped.png)

In [10]:
clipped_data = pd.read_csv('../test/output/Py_spatial_clipped_data.csv')
# Print summary statistics of the clipped result
print("\nClipped migrated data summary:")
print(f"Min value: {np.nanmin(clipped_data)}")
print(f"Max value: {np.nanmax(clipped_data)}")
print(f"Mean value: {np.nanmean(clipped_data)}")

Clipped migrated data summary:
Min value: 0.0
Max value: 1.0
Mean value: 0.6176368992343158

## Functions for Fluival data handling

We tested these following modules:
- `fmi_parameters`
- `fmi_spectra`
- `fmi_inversion`
- `model_bedload`
- `model_turbulance`


### eseis (R)

#### The parameters created with `fmi_parameters`

In [11]:
df = pd.read_csv('../R/output/R_fmi_par.csv')
# Check the number of columns
num_columns = df.shape[1]

# Ensure there are at least 34 columns to create two sets of 17 columns
if df.shape[1] >= 34:
    # Select the first and second sets of 17 columns
    set1 = df.iloc[:, :18]
    set2 = df.iloc[:, 18:36]

    # Create a list of parameters
    parameters = set1.columns.tolist()

    # Reshape the data
    set1_reshaped = pd.DataFrame({'Parameter': parameters, 'Set 1': set1.iloc[0, :].values})
    set2_reshaped = pd.DataFrame({'Parameter': parameters, 'Set 2': set2.iloc[0, :].values})

    # Merge the reshaped data
    combined_df = pd.merge(set1_reshaped, set2_reshaped, on='Parameter')

    # Display the combined DataFrame
    print(combined_df)
else:
    print("The CSV file does not have enough columns to create two sets of 17 columns each.")

     Parameter        Set 1        Set 2
0   Unnamed: 0     1.000000   100.000000
1          d_s     0.010000     0.010000
2          s_s     1.350000     1.350000
3          r_s  2650.000000  2650.000000
4          q_s     0.010913     0.017068
5          w_w     6.000000     6.000000
6          a_w     0.007500     0.007500
7          h_w     1.428695     1.161444
8        f_min     5.000000     5.000000
9        f_max    80.000000    80.000000
10         r_0     6.000000     6.000000
11         f_0     1.000000     1.000000
12         q_0    10.000000    10.000000
13         v_0   350.000000   350.000000
14         p_0     0.550000     0.550000
15         e_0     0.090000     0.090000
16       n_0_a     0.600000     0.600000
17       n_0_b     0.800000     0.800000



### pyseis (Python)

#### The parameters created with `fmi_parameters`

In [12]:
pd.read_csv('../test/output/Py_fmi_par.csv')

   Parameter        Set 1        Set 2
0        p_0     0.550000     0.550000
1        r_s  2650.000000  2650.000000
2      f_min     5.000000     5.000000
3        a_w     0.007500     0.007500
4        r_0     6.000000     6.000000
5        q_0    10.000000    10.000000
6      f_max    80.000000    80.000000
7      n_0_a     0.600000     0.600000
8        res   100.000000   100.000000
9        q_s     0.015313     0.001643
10       v_0   350.000000   350.000000
11       s_s     1.350000     1.350000
12       e_0     0.090000     0.090000
13       h_w     0.462047     1.144737
14       w_w     6.000000     6.000000
15       d_s     0.010000     0.010000
16       f_0     1.000000     1.000000
17     n_0_b     0.800000     0.800000


### eseis (R)

#### One out of two spectrum data with the reference parameters by `fmi_spectra`

In [13]:
df = pd.read_csv('../R/output/R_fmi_spec.csv', sep=" ")


# Select the first and second sets of 17 columns
frequency = df["frequency"]
power = df["power"]

# Merge the reshaped data
combined_df = pd.DataFrame({'Frequency': frequency,'Power': power})

# Display the combined DataFrame
combined_df.head(5)

   Frequency       Power
1   5.000000 -121.610950
2   5.757576 -120.252939
3   6.515152 -119.142000
4   7.272727 -118.219574
5   8.030303 -117.445588

### pyseis (Python)

#### One out of two spectrum data with the reference parameters by `fmi_spectra`

In [14]:
pd.read_csv('../test/output/Py_fmi_ref_spectrum_1.csv').head(5)

   Frequency       Power  Turbulence     Bedload
0   5.000000 -137.048033 -137.048033 -119.458741
1   5.757576 -135.830789 -135.830789 -116.457017
2   6.515152 -134.840460 -134.840460 -113.867303
3   7.272727 -134.023042 -134.023042 -111.597841
4   8.030303 -133.341693 -133.341693 -109.584459

#### The plot of the spectrum data with the reference parameters by `fmi_spectra`
![fmi_spectra_png](../test/output/Py_fmi_spectra.png)

### eseis (R)

#### The inversion plot from the `fmi_inversion`
![fmi_spectra_png](../R/output/R_fmi_inversion0.png)
![fmi_spectra_png](../R/output/R_fmi_inversion1.png)

### pyseis (Python)


#### The inversion plot from the `fmi_inversion`
![fmi_spectra_png](../test/output/Py_fmi_inversion.png)

***These are some automated analysis of example usage scenario of the same modules of these two packages.
Overview of how these modules handles data and outputs differently.***