In [7]:
import pandas as pd
import numpy as np

# Comparison of Seismic Analysis Packages: eseis (R) vs pyseis (Python)

This report provides a comprehensive comparison between 11 functions from two seismic analysis packages: eseis for R and pyseis for Python.
Throught the comparison, same input data has been used to test all the modules but there are slight changes due to randomness of the process.


## Functions for spatial data handling

For station A,B and C we tested these following modules:
- spatial_convert
- spatial_distance
- spatial_amplitude
- spatial_pmax
- spatial_migrate
- spatial_clip
  

### eseis (R)



### pyseis (Python)

#### The original stations (WGS84 geographic coordinates)

In [12]:
pd.read_csv('../test/output/Py_original_stations.csv', header=None)

    0   1
0  25  25
1  75  75
2  50  90

#### The converted stations (UTM zone 32N)

In [13]:
pd.read_csv('../test/output/Py_converted_stations.csv', header=None)

              0             1
0  2.128199e+06  2.862733e+06
1  2.041350e+06  9.303692e+06
2  5.000000e+05  9.997965e+06

#### The Digital ELevation Model with the stations

![image_from_sp_dist](../test/output/Py_spatial_dist_0.png)

#### This Is the distance matrix of the stations

In [17]:
pd.read_csv('../test/output/distance_matrix.csv')

            A           B           C
0    0.000000  169.602995  278.934041
1  169.602995    0.000000  117.906107
2  278.934041  117.906107    0.000000


#### The plot for distance matrix

![image_from_sp_dist](../test/output/Py_spatial_dist_mat.png)

#### The synthetic signal data for the stations (TOP 5 ROWS)

In [18]:
pd.read_csv('../test/output/Py_spatial_synth_signal.csv').head(5)

              A             B             C
0  1.879265e-22  3.758530e-24  1.879265e-24
1  2.293963e-22  4.587925e-24  2.293963e-24
2  2.799052e-22  5.598103e-24  2.799052e-24
3  3.413987e-22  6.827973e-24  3.413987e-24
4  4.162354e-22  8.324707e-24  4.162354e-24


#### The Most likely location for the signal amplitude

In [ ]:
pd.read_csv('../test/output/Py_spatial_synth_signal.csv', header=None)


#### The plot for the most likely signal

![image_from_sp_dist](../test/output/Py_spatial_amp.png)

#### The sysnthetic seismic signal data

In [20]:
pd.read_csv('../test/output/Py_synth_seis_signals.csv').head(5)

          A         B         C
0  0.043312 -0.017252 -0.117635
1  0.225085  0.177777 -0.067801
2 -0.075016  0.096713  0.047650
3  0.028875 -0.054103  0.188266
4  0.073194 -0.174475  0.078423


#### The migrated result

![image_from_sp_dist](../test/output/Py_spatial_migration.png)

In [28]:
migrated_data = pd.read_csv('../test/output/Py_spatial_migrated_data.csv', header=None)
# Print summary statistics of the migrated result
print("\nMigrated data summary:")
print(f"Min value: {np.min(migrated_data)}")
print(f"Max value: {np.max(migrated_data)}")
print(f"Mean value: {np.mean(migrated_data)}")

Migrated data summary:
Min value: 0.579654636167482
Max value: 0.999072837324217
Mean value: 0.9040497023372415


#### The clipped reult

![image_from_sp_dist](../test/output/Py_spatial_clipped.png)

In [29]:
clipped_data = pd.read_csv('../test/output/Py_spatial_clipped_data.csv')
# Print summary statistics of the clipped result
print("\nClipped migrated data summary:")
print(f"Min value: {np.nanmin(clipped_data)}")
print(f"Max value: {np.nanmax(clipped_data)}")
print(f"Mean value: {np.nanmean(clipped_data)}")

Clipped migrated data summary:
Min value: 0.0
Max value: 1.0
Mean value: 0.6806035058682092