In [36]:
import pandas as pd
import numpy as np

# Comparison of Seismic Analysis Packages: eseis (R) vs pyseis (Python)

This report provides a comprehensive comparison between 11 functions from two seismic analysis packages: eseis for R and pyseis for Python.
Throught the comparison, same input data has been used to test all the modules but there are slight changes due to randomness of the process.


## Functions for spatial data handling

For station A,B and C we tested these following modules:
- `spatial_convert`
- `spatial_distance`
- `spatial_amplitude`
- `spatial_pmax`
- `spatial_migrate`
- `spatial_clip`
  

### eseis (R)



### pyseis (Python)

#### The original stations (WGS84 geographic coordinates)

In [25]:
pd.read_csv('../test/output/Py_original_stations.csv', header=None)

    0   1
0  25  25
1  75  75
2  50  90

#### The converted stations (UTM zone 32N) from `spatial_convert`

In [27]:
pd.read_csv('../test/output/Py_converted_stations.csv', header=None)

              0             1
0  2.128199e+06  2.862733e+06
1  2.041350e+06  9.303692e+06
2  5.000000e+05  9.997965e+06

#### The Digital Elevation Model with the stations from `spatial_distance`

![image_from_sp_dist](../test/output/Py_spatial_dist_0.png)

#### This Is the distance matrix of the stations

In [28]:
pd.read_csv('../test/output/distance_matrix.csv')

            A           B           C
0    0.000000  164.637434  246.261699
1  164.637434    0.000000  115.989045
2  246.261699  115.989045    0.000000


#### The plot for distance matrix

![image_from_sp_dist](../test/output/Py_spatial_dist_mat.png)


#### The Most likely location for the signal amplitude from `spatial_amplitude` and `spatial_pmax`

In [29]:
pd.read_csv('../test/output/Py_pmax.csv', header=None)

     0     1
0  0.5  34.5


#### The plot for the most likely signal

![image_from_sp_dist](../test/output/Py_spatial_amp.png)


#### The migrated result from `spatial_migrate`

![image_from_sp_dist](../test/output/Py_spatial_migration.png)

In [30]:
migrated_data = pd.read_csv('../test/output/Py_spatial_migrated_data.csv', header=None)
# Print summary statistics of the migrated result
print("\nMigrated data summary:")
print(f"Min value: {np.min(migrated_data)}")
print(f"Max value: {np.max(migrated_data)}")
print(f"Mean value: {np.mean(migrated_data)}")

Migrated data summary:
Min value: 0.5539139275584418
Max value: 0.9995955419905432
Mean value: 0.8969944733909557


#### The clipped result from `spatial_clip`

![image_from_sp_dist](../test/output/Py_spatial_clipped.png)

In [31]:
clipped_data = pd.read_csv('../test/output/Py_spatial_clipped_data.csv')
# Print summary statistics of the clipped result
print("\nClipped migrated data summary:")
print(f"Min value: {np.nanmin(clipped_data)}")
print(f"Max value: {np.nanmax(clipped_data)}")
print(f"Mean value: {np.nanmean(clipped_data)}")

Clipped migrated data summary:
Min value: 0.0351247282927492
Max value: 1.0
Mean value: 0.5510691491771843

## Functions for Fluival data handling

We tested these following modules:
- `fmi_parameters`
- `fmi_spectra`
- `fmi_inversion`
- `model_bedload`
- `model_turbulance`
  

### eseis (R)



### pyseis (Python)

#### The parameters created with `fmi_parameters`

In [32]:
pd.read_csv('../test/output/Py_fmi_par.csv')

   Parameter        Set 1        Set 2
0        w_w     6.000000     6.000000
1        q_s     0.005531     0.006542
2      n_0_a     0.600000     0.600000
3        a_w     0.007500     0.007500
4        f_0     1.000000     1.000000
5        q_0    10.000000    10.000000
6        v_0   350.000000   350.000000
7      f_min     5.000000     5.000000
8        s_s     1.350000     1.350000
9        h_w     1.758394     0.288903
10       r_s  2650.000000  2650.000000
11       res   100.000000   100.000000
12       p_0     0.550000     0.550000
13       e_0     0.090000     0.090000
14       d_s     0.010000     0.010000
15     n_0_b     0.800000     0.800000
16     f_max    80.000000    80.000000
17       r_0     6.000000     6.000000

#### One out of two spectrum data with the reference parameters by `fmi_spectra`

In [33]:
pd.read_csv('../test/output/Py_fmi_ref_spectrum_1.csv').head(5)

   Frequency       Power  Turbulence     Bedload
0   5.000000 -118.888054 -118.888054 -129.186632
1   5.757576 -117.503219 -117.503219 -126.184908
2   6.515152 -116.369094 -116.369094 -123.595194
3   7.272727 -115.426352 -115.426352 -121.325731
4   8.030303 -114.634361 -114.634361 -119.312350

#### The plot of the spectrum data with the reference parameters by `fmi_spectra`
![fmi_spectra_png](../test/output/Py_fmi_spectra.png)

#### The inversion plot from the `fmi_inversion`
![fmi_spectra_png](../test/output/Py_fmi_inversion.png)

#### The original stations (WGS84 geographic coordinates)

In [34]:
pd.read_csv('../R/output/R_original_stations.csv', header=None)

     0   1   2
0  NaN   x   y
1  1.0  25  25
2  2.0  75  75
3  3.0  50  90

#### The converted stations (UTM zone 32N) from `spatial_convert`

In [35]:
pd.read_csv('../R/output/R_converted_stations.csv', header=None)

     0                 1                 2
0  NaN                 x                 y
1  1.0  2128199.05236227  2862732.77717741
2  2.0  2041350.23413185  9303691.50251585
3  3.0             5e+05    9997964.943021

#### The Digital Elevation Model with the stations from `spatial_distance`

![image_from_sp_dist](../R/output/R_spatial_dist_0.png)

#### This Is the distance matrix of the stations

In [38]:
pd.read_csv('../R/output/R_spatial_dist_matrix.csv')

   Unnamed: 0           1           2           3
0           1    0.000000  222.117997  166.651687
1           2  222.117997    0.000000   91.692105
2           3  166.651687   91.692105    0.000000

#### The Most likely location for the signal amplitude from `spatial_amplitude` and `spatial_pmax`

In [39]:
pd.read_csv('../R/output/R_spatial_pmax.csv', header=None)

     0     1
0  NaN     x
1  1.0  25.5
2  2.0  24.5

#### The plot for the most likely signal

![image_from_sp_dist](../R/output/R_spatial_ampl.png)
![image_from_sp_dist](../R/output/R_spatial_ampl2.png)

#### The clipped result from `spatial_clip`

![image_from_sp_dist](../R/output/R_spatial_clip.png)

#### The parameters created with `fmi_parameters`

In [40]:
pd.read_csv('../R/output/R_fmi_par.csv')

,Unnamed: 0,d_s,s_s,r_s,q_s,w_w,a_w,h_w,f_min,f_max,...,f_max.9,r_0.9,f_0.9,q_0.9,v_0.9,p_0.9,e_0.9,n_0_a.9,n_0_b.9,res.9
0,1,0.01,1.35,2650,0.00299,6,0.0075,0.760764,5,80,...,80,6,1,10,350,0.55,0.09,0.6,0.8,100

#### One out of two spectrum data with the reference parameters by `fmi_spectra`

In [52]:
pd.read_csv('../R/output/R_fmi_spec.csv').head(5)

  pars.d_s "pars.s_s" "pars.r_s" "pars.q_s" "pars.w_w" "pars.a_w" "pars.h_w" "pars.f_min" "pars.f_max" "pars.r_0" "pars.f_0" "pars.q_0" "pars.v_0" "pars.p_0" "pars.e_0" "pars.n_0_a" "pars.n_0_b" "pars.res" "frequency" "power" "pars.d_s.1" "pars.s_s.1" "pars.r_s.1" "pars.q_s.1" "pars.w_w.1" "pars.a_w.1" "pars.h_w.1" "pars.f_min.1" "pars.f_max.1" "pars.r_0.1" "pars.f_0.1" "pars.q_0.1" "pars.v_0.1" "pars.p_0.1" "pars.e_0.1" "pars.n_0_a.1" "pars.n_0_b.1" "pars.res.1" "frequency.1" "power.1" "pars.d_s.2" "pars.s_s.2" "pars.r_s.2" "pars.q_s.2" "pars.w_w.2" "pars.a_w.2" "pars.h_w.2" "pars.f_min.2" "pars.f_max.2" "pars.r_0.2" "pars.f_0.2" "pars.q_0.2" "pars.v_0.2" "pars.p_0.2" "pars.e_0.2" "pars.n_0_a.2" "pars.n_0_b.2" "pars.res.2" "frequency.2" "power.2" "pars.d_s.3" "pars.s_s.3" "pars.r_s.3" "pars.q_s.3" "pars.w_w.3" "pars.a_w.3" "pars.h_w.3" "pars.f_min.3" "pars.f_max.3" "pars.r_0.3" "pars.f_0.3" "pars.q_0.3" "pars.v_0.3" "pars.p_0.3" "pars.e_0.3" "pars.n_0_a.3" "pars.n_0_b.3" "pars.res.3" "frequency.3" "power.3" "pars.d_s.4" "pars.s_s.4" "pars.r_s.4" "pars.q_s.4" "pars.w_w.4" "pars.a_w.4" "pars.h_w.4" "pars.f_min.4" "pars.f_max.4" "pars.r_0.4" "pars.f_0.4" "pars.q_0.4" "pars.v_0.4" "pars.p_0.4" "pars.e_0.4" "pars.n_0_a.4" "pars.n_0_b.4" "pars.res.4" "frequency.4" "power.4" "pars.d_s.5" "pars.s_s.5" "pars.r_s.5" "pars.q_s.5" "pars.w_w.5" "pars.a_w.5" "pars.h_w.5" "pars.f_min.5" "pars.f_max.5" "pars.r_0.5" "pars.f_0.5" "pars.q_0.5" "pars.v_0.5" "pars.p_0.5" "pars.e_0.5" "pars.n_0_a.5" "pars.n_0_b.5" "pars.res.5" "frequency.5" "power.5" "pars.d_s.6" "pars.s_s.6" "pars.r_s.6" "pars.q_s.6" "pars.w_w.6" "pars.a_w.6" "pars.h_w.6" "pars.f_min.6" "pars.f_max.6" "pars.r_0.6" "pars.f_0.6" "pars.q_0.6" "pars.v_0.6" "pars.p_0.6" "pars.e_0.6" "pars.n_0_a.6" "pars.n_0_b.6" "pars.res.6" "frequency.6" "power.6" "pars.d_s.7" "pars.s_s.7" "pars.r_s.7" "pars.q_s.7" "pars.w_w.7" "pars.a_w.7" "pars.h_w.7" "pars.f_min.7" "pars.f_max.7" "pars.r_0.7" "pars.f_0.7" "pars.q_0.7" "pars.v_0.7" "pars.p_0.7" "pars.e_0.7" "pars.n_0_a.7" "pars.n_0_b.7" "pars.res.7" "frequency.7" "power.7" "pars.d_s.8" "pars.s_s.8" "pars.r_s.8" "pars.q_s.8" "pars.w_w.8" "pars.a_w.8" "pars.h_w.8" "pars.f_min.8" "pars.f_max.8" "pars.r_0.8" "pars.f_0.8" "pars.q_0.8" "pars.v_0.8" "pars.p_0.8" "pars.e_0.8" "pars.n_0_a.8" "pars.n_0_b.8" "pars.res.8" "frequency.8" "power.8" "pars.d_s.9" "pars.s_s.9" "pars.r_s.9" "pars.q_s.9" "pars.w_w.9" "pars.a_w.9" "pars.h_w.9" "pars.f_min.9" "pars.f_max.9" "pars.r_0.9" "pars.f_0.9" "pars.q_0.9" "pars.v_0.9" "pars.p_0.9" "pars.e_0.9" "pars.n_0_a.9" "pars.n_0_b.9" "pars.res.9" "frequency.9" "power.9"
0  1 0.01 1.35 2650 0.00299037254377426 6 0.0075 ...
1  2 0.01 1.35 2650 0.00299037254377426 6 0.0075 ...
2  3 0.01 1.35 2650 0.00299037254377426 6 0.0075 ...
3  4 0.01 1.35 2650 0.00299037254377426 6 0.0075 ...
4  5 0.01 1.35 2650 0.00299037254377426 6 0.0075 ...

#### The inversion plot from the `fmi_inversion`
![fmi_spectra_png](../R/output/R_fmi_inversion0.png)
![fmi_spectra_png](../R/output/R_fmi_inversion1.png)