In [1]:
import pandas as pd
import numpy as np

# Comparison of Seismic Analysis Packages: eseis (R) vs pyseis (Python)

This report provides a comprehensive comparison between 11 functions from two seismic analysis packages: eseis for R and pyseis for Python.
Throught the comparison, same input data has been used to test all the modules but there are slight changes due to randomness of the process.


## Functions for spatial data handling

For station A,B and C we tested these following modules:
- `spatial_convert`
- `spatial_distance`
- `spatial_amplitude`
- `spatial_pmax`
- `spatial_migrate`
- `spatial_clip`
  

### eseis (R)



### pyseis (Python)

#### The original stations (WGS84 geographic coordinates)

In [2]:
pd.read_csv('../test/output/Py_original_stations.csv', header=None)

    0   1
0  25  25
1  75  75
2  50  90

#### The converted stations (UTM zone 32N) from `spatial_convert`

In [3]:
pd.read_csv('../test/output/Py_converted_stations.csv', header=None)

              0             1
0  2.128199e+06  2.862733e+06
1  2.041350e+06  9.303692e+06
2  5.000000e+05  9.997965e+06

#### The Digital Elevation Model with the stations from `spatial_distance`

![image_from_sp_dist](../test/output/Py_spatial_dist_0.png)

#### This Is the distance matrix of the stations

In [4]:
pd.read_csv('../test/output/distance_matrix.csv')

            A           B           C
0    0.000000  172.113622  248.234182
1  172.113622    0.000000  116.268396
2  248.234182  116.268396    0.000000


#### The plot for distance matrix

![image_from_sp_dist](../test/output/Py_spatial_dist_mat.png)


#### The Most likely location for the signal amplitude from `spatial_amplitude` and `spatial_pmax`

In [5]:
pd.read_csv('../test/output/Py_pmax.csv', header=None)

     0    1
0  0.5  9.5


#### The plot for the most likely signal

![image_from_sp_dist](../test/output/Py_spatial_amp.png)


#### The migrated result from `spatial_migrate`

![image_from_sp_dist](../test/output/Py_spatial_migration.png)

In [6]:
migrated_data = pd.read_csv('../test/output/Py_spatial_migrated_data.csv', header=None)
# Print summary statistics of the migrated result
print("\nMigrated data summary:")
print(f"Min value: {np.min(migrated_data)}")
print(f"Max value: {np.max(migrated_data)}")
print(f"Mean value: {np.mean(migrated_data)}")

Migrated data summary:
Min value: 0.5570537462372878
Max value: 0.9999790161751272
Mean value: 0.9014908291878432


#### The clipped result from `spatial_clip`

![image_from_sp_dist](../test/output/Py_spatial_clipped.png)

In [7]:
clipped_data = pd.read_csv('../test/output/Py_spatial_clipped_data.csv')
# Print summary statistics of the clipped result
print("\nClipped migrated data summary:")
print(f"Min value: {np.nanmin(clipped_data)}")
print(f"Max value: {np.nanmax(clipped_data)}")
print(f"Mean value: {np.nanmean(clipped_data)}")

Clipped migrated data summary:
Min value: 0.0
Max value: 1.0
Mean value: 0.5437673225865496

## Functions for Fluival data handling

We tested these following modules:
- `fmi_parameters`
- `fmi_spectra`
- `fmi_inversion`
- `model_bedload`
- `model_turbulance`
  

### eseis (R)



### pyseis (Python)

#### The parameters created with `fmi_parameters`

In [8]:
pd.read_csv('../test/output/Py_fmi_par.csv')

   Parameter        Set 1        Set 2
0        w_w     6.000000     6.000000
1        res   100.000000   100.000000
2      f_min     5.000000     5.000000
3      n_0_a     0.600000     0.600000
4        d_s     0.010000     0.010000
5      f_max    80.000000    80.000000
6        r_0     6.000000     6.000000
7        f_0     1.000000     1.000000
8        e_0     0.090000     0.090000
9      n_0_b     0.800000     0.800000
10       r_s  2650.000000  2650.000000
11       s_s     1.350000     1.350000
12       q_0    10.000000    10.000000
13       p_0     0.550000     0.550000
14       h_w     0.658106     0.812361
15       a_w     0.007500     0.007500
16       v_0   350.000000   350.000000
17       q_s     0.005049     0.003171

#### One out of two spectrum data with the reference parameters by `fmi_spectra`

In [9]:
pd.read_csv('../test/output/Py_fmi_ref_spectrum_1.csv').head(5)

   Frequency       Power  Turbulence     Bedload
0   5.000000 -132.083906 -132.083906 -125.547334
1   5.757576 -130.823657 -130.823657 -122.545610
2   6.515152 -129.796628 -129.796628 -119.955896
3   7.272727 -128.947345 -128.947345 -117.686433
4   8.030303 -128.237938 -128.237938 -115.673052

#### The plot of the spectrum data with the reference parameters by `fmi_spectra`
![fmi_spectra_png](../test/output/Py_fmi_spectra.png)

#### The inversion plot from the `fmi_inversion`
![fmi_spectra_png](../test/output/Py_fmi_inversion.png)